{% extends './plantilla.html' %}
{% block contenido %}
<br>
<h1>Listado de Medicamentos</h1>
<hr>
<br>
<div class="text-end">
    <a href="nuevoMedicamento" class="btn btn-primary bg-dark">Agregar Medicamento</a>
</div>
<br>
<br>
<table class="table table-bordered table-striped table-hover">
    <thead class="bg-dark" style="color: white;">
        <tr>
            <th>ID</th>
            <th>NOMBRE</th>
            <th>LABORATORIO</th>
            <th>DOSIS</th>
            <th>PRESENTACION</th>
            <th>PRECIO</th>
            <th>CADUCIDAD</th>
            <th>ACCIONES</th>
        </tr>
    </thead>
    <tbody>
        {%for MedicamentoTemporal in medicamentos %}
            <tr>
                <td>{{MedicamentoTemporal.id}}</td>
                <td>{{MedicamentoTemporal.nombre}}</td>
                <td>{{MedicamentoTemporal.laboratorio}}</td>
                <td>{{MedicamentoTemporal.dosis}}</td>
                <td>{{MedicamentoTemporal.presentacion}}</td>
                <td>{{MedicamentoTemporal.precio}}</td>
                <td>{{MedicamentoTemporal.caducidad}}</td>
                <td>
                    <a href="editarMedicamentos/{{MedicamentoTemporal.id}}" class="btn btn-outline-warning">
                        <i class="fa fa-pen"></i>    
                    </a>
                    <a href="#"  class="btn btn-outline-danger" onclick="confirmarEliminacion('{{ MedicamentoTemporal.id }}')" >
                        <i class="fa fa-trash"></i>
                    </a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table><br><br><br><br><br><br><br><br><br><br><br><br>

<script>
    function confirmarEliminacion(id) {
        Swal.fire({
            title: "¿Estás seguro?",
            text: "¡No podrás revertir esta acción!",
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: "#3085d6",
            cancelButtonColor: "#d33",
            confirmButtonText: "Sí, eliminar",
            cancelButtonText: "Cancelar"
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/medicamentos/eliminarMedicamento/" + id;
            } else {
                Swal.fire({
                    title: "Cancelado",
                    text: "La acción fue cancelada.",
                    icon: "info",
                    confirmButtonText: "OK"
                });
            }
        });
    }
</script>

{% endblock %}